In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from config import password
import pymongo
from pymongo import MongoClient
import bson
from bson.raw_bson import RawBSONDocument

In [2]:
# Load the df_ETL.csv dataset.
file_path = "df_ETL.csv"
df_ETL = pd.read_csv(file_path )
df_ETL.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,SsnPorch,ScreenPorch,Fence,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,NFe,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,NFe,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,NFe,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,NFe,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,NFe,0,12,2008,WD,Normal,250000
5,50,RL,85.0,14115,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,320,0,MnPrv,700,10,2009,WD,Normal,143000
6,20,RL,75.0,10084,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,NFe,0,8,2007,WD,Normal,307000
7,60,RL,NLf,10382,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,228,0,0,NFe,350,11,2009,WD,Normal,200000
8,50,RM,51.0,6120,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,205,0,0,NFe,0,4,2008,WD,Abnorml,129900
9,190,RL,50.0,7420,Pave,Reg,Lvl,AllPub,Corner,Gtl,...,0,0,0,NFe,0,1,2008,WD,Normal,118000

In [3]:
#using pandas get_dummies function to transform the categorical values into numerical 
df_dummies = pd.get_dummies(df_ETL,columns=["MSZoning","LotFrontage","Street","LotShape","LandContour","Utilities","LotConfig","LandSlope","Neighborhood","Condition1","Condition2","BldgType","HouseStyle","RoofStyle","RoofMatl","Exterior1st","Exterior2nd","MasVnrType","ExterQual","ExterCond","Foundation","BsmtQual","BsmtCond","BsmtExposure","BsmtFinType1","BsmtFinType2","Heating","HeatingQC","CentralAir","Electrical","KitchenQual","Functional","FireplaceQu","GarageType","GarageFinish","GarageQual","GarageCond","PavedDrive","Fence","SaleType","SaleCondition"])

In [4]:
df_dummies.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,8450,7,5,2003,2003,196.0,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,20,9600,6,8,1976,1976,0.0,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,60,11250,7,5,2001,2002,162.0,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,70,9550,7,5,1915,1970,0.0,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,60,14260,8,5,2000,2000,350.0,655,0,490,...,0,0,0,1,0,0,0,0,1,0

In [5]:
#get the SalesPrice column
df_dummies.columns.get_loc("SalePrice")

33

In [6]:
#make an array for the first ten columns and SalesPrice column
#selected_cols=np.r_[1:10, 33]

In [7]:
# df_train.iloc[rows:rows, cols:cols]
first_cols = df_dummies.iloc[:,1:6]
first_cols.head()

   LotArea  OverallQual  OverallCond  YearBuilt  YearRemodAdd
0     8450            7            5       2003          2003
1     9600            6            8       1976          1976
2    11250            7            5       2001          2002
3     9550            7            5       1915          1970
4    14260            8            5       2000          2000

In [8]:
first_cols.index.name = "_id"

In [9]:
#export first columns to csv
first_cols.to_csv('first_cols.csv')

#### Make a MongoDB connection

In [10]:
#connection to MongoDB
client = MongoClient(f"mongodb+srv://humbertorodriguez:{password}@cluster0.yyllp.mongodb.net/data_analytics?retryWrites=true&w=majority")
database = client['data_analytics']
collection = database['train_data']

def csv_to_json(filename):
    data = pd.read_csv(filename)
    return data.to_dict('records')

collection.insert_many(csv_to_json('first_cols.csv'))

#### Define y target variable and Define X features variables

In [11]:
y_train = df_dummies["SalePrice"]
X_train = first_cols

In [12]:
# Load the df_ETL.csv dataset.
file_path = "test.csv"
test_df = pd.read_csv(file_path)
test_df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [13]:
#using pandas get_dummies function to transform the categorical values into numerical 
#get the SalesPrice column
X_test = test_df[["LotArea", "OverallQual", "OverallCond", "YearBuilt", "YearRemodAdd"]]
X_test.head()

   LotArea  OverallQual  OverallCond  YearBuilt  YearRemodAdd
0    11622            5            6       1961          1961
1    14267            6            6       1958          1958
2    13830            5            5       1997          1998
3     9978            6            6       1998          1998
4     5005            8            5       1992          1992

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_train, y_train)

LinearRegression()

In [16]:
y_prediction = model.predict(X_test)
y_prediction

array([130895.79140932, 172202.57955714, 152655.76062803, ...,
       154444.83285871, 144575.65068659, 221990.50198626])

In [17]:
from sklearn.metrics import r2_score

In [18]:
df_test =pd.read_csv('sample_submission.csv')
y_test = df_test['SalePrice']

In [19]:
r2_score(y_test, y_prediction)

-14.599756513270753